
        <div id="speaker"></div>
        <div id="next_speaker"></div>
        
        <div id="agenda"></div>
        
        <div id="logo"><img src="[% c.uri_for('/static/lm07_small.jpg') %]" /></div>
